.solana_wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solana_wallet button {
    margin: none;
    border: none;
    /* background-image: linear-gradient(281deg, #420be6, #a16bb3); */
    background-color: #a16bb3;
    padding: 14px 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.solana_wallet div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    background-color: #333353;
    border: 1px solid #414164;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
